Repository antonbabenko/pre-commit-terraform, pull requests merged in 2021-12, with the labels that each got.

#292 fix: pre-build docker image
  .github/workflows/build-image.yaml
  Dockerfile
  README.md
Labels: documentation, area/docker, bug_with_workaround, estimate/1h

#289 fix: analyse all folders with tflint and don't stop on first execution
  terraform_tflint.sh
Labels: bug, hook/terraform_tflint, estimate/1h

#293 feat: Pass custom arguments to terraform init in `terraform_validate` hook
  README.md
  terraform_validate.sh
Labels: estimate/2h, hook/terraform_validate

#302 fix: Restore current working directory behavior
  terraform_tflint.sh
Labels: bug, hook/terraform_tflint, estimate/1h

#306 fix: Properly exclude .terraform directory with checkov hook
  .pre-commit-hooks.yaml
Labels: estimate/1h, hook/checkov

#307 fix: Speedup `terrascan` hook up to x3 times in big repos
  .pre-commit-hooks.yaml
Labels: estimate/1h, hook/terrascan

#305 fix: Check all directories with changes and pass all args in terrascan hook
  .pre-commit-hooks.yaml
  README.md
  terrascan.sh
Labels: bug, estimate/2h, hook/terrascan
