Repository antonbabenko/pre-commit-terraform, pull requests merged in 2021-11, with the labels that each got.

#278 feat: Updated Docker image from Ubuntu to Alpine
  Dockerfile
Labels: bug, feature, area/docker, estimate/1h

#280 chore: Add deprecation notice to `terraform_docs_replace`
  README.md
  pre_commit_hooks/__init__.py
Labels: documentation, estimate/1h, hook/terraform_docs_replace

#283 fix: typo in arg name for terraform-docs
  README.md
  terraform_docs.sh
Labels: hook/terraform_docs, bug_with_workaround
