Repository antonbabenko/pre-commit-terraform, pull requests merged in 2021-09, with the labels that each got.

#218 docs: Initial docs improvement
  .dockerignore
  .editorconfig
  .pre-commit-config.yaml
  CHANGELOG.md
  Dockerfile
  README.md
Labels: kind/documentation

#219 fix: Dockerized pre-commit-terraform
  Dockerfile
  README.md
Labels: kind/bug, kind/feature, kind/documentation, area/docker, estimate/1h

#221 feat: Add mixed line ending check to prevent possible errors
  .pre-commit-config.yaml
  Dockerfile
  README.md
Labels: kind/feature, estimate/1h, kind/bug/not_confirmed

#222 feat: Add GH checks and templates
  .github/ISSUE_TEMPLATE/bug_report_docker.md
  .github/ISSUE_TEMPLATE/bug_report_local_install.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/pre-commit.yaml
  .github/workflows/stale-actions.yaml
  Dockerfile
  README.md
Labels: kind/feature

#223 fix: GH stale action - remove unsupported setting
  .github/workflows/stale-actions.yaml
Labels: bug_with_workaround, estimate/1h

#228 fix: trigger terraform-docs on changes in lock files
  .pre-commit-hooks.yaml
Labels: hook/terraform_docs

#229 fix: remove dead code from terraform-docs script
  terraform_docs.sh
Labels: hook/terraform_docs

#233 fix: Dockerfile if INSTALL_ALL is not defined
  Dockerfile
Labels: bug, area/docker, estimate/1h

#234 feat: Add PATH outputs when TFLint found any problem
  terraform_tflint.sh
Labels: feature, hook/terraform_tflint, estimate/1h
