Repository antonbabenko/pre-commit-terraform, pull requests merged in 2022-11, with the labels that each got.

#451 fix: Describe migration instructions from `terraform_docs_replace`
  README.md
  hooks/__init__.py
Labels: documentation, hook/terraform_docs, estimate/1h, hook/terraform_docs_replace

#441 feat: Add `--retry-once-with-cleanup` to `terraform_validate`
  README.md
  hooks/_common.sh
  hooks/terraform_validate.sh
Labels: feature, estimate/2days, hook/terraform_validate, hacktoberfest-accepted

#450 fix: Make text color work in MacOS zsh
  hooks/_common.sh
Labels: area/macOS
