Repository antonbabenko/pre-commit-terraform, pull requests merged in 2022-05, with the labels that each got.

#376 feat: Added terraform_wrapper_module_for_each hook
  .github/.container-structure-test-config.yaml
  .pre-commit-hooks.yaml
  Dockerfile
  README.md
  hooks/terraform_wrapper_module_for_each.sh
Labels: feature, estimate/2days

#381 chore: Clarify `terraform-docs` config usage
  README.md
Labels: documentation, hook/terraform_docs

#386 feat: When a config file is given, do not specify formatter on cli (terraform_docs)
  hooks/terraform_docs.sh
Labels: feature, hook/terraform_docs

#389 fix: Fixed `terraform_fmt` with `tfenv`, when `terraform` default version is not specified
  hooks/terraform_fmt.sh
Labels: hook/terraform_fmt
