Repository antonbabenko/pre-commit-terraform, pull requests merged in 2022-04, with the labels that each got.

#290 feat: Add `terraform_checkov`, that run per folder. Deprecate `checkov` hook
  .pre-commit-hooks.yaml
  README.md
  hooks/terraform_checkov.sh
Labels: feature, estimate/2h, hook/terraform_checkov

#364 docs: Document `--terraform-plan-flags` usage limitations for infracost
  README.md
Labels: documentation, estimate/1h, hook/infracost_breakdown

#365 chore: Add docker image tests - `container-structure-test-config` and `dive-ci`
  .github/.container-structure-test-config.yaml
  .github/.dive-ci.yaml
  .github/CONTRIBUTING.md
  .github/workflows/build-image-test.yaml
Labels: area/docker

#368 feat: Removed `coreutils` (realpath) from dependencies for MacOS
  README.md
  hooks/_common.sh
  hooks/infracost_breakdown.sh
  hooks/terraform_checkov.sh
  hooks/terraform_docs.sh
  hooks/terraform_fmt.sh
  hooks/terraform_providers_lock.sh
  hooks/terraform_tflint.sh
  hooks/terraform_tfsec.sh
  hooks/terraform_validate.sh
  hooks/terragrunt_fmt.sh
  hooks/terragrunt_validate.sh
  hooks/terrascan.sh
  hooks/tfupdate.sh
Labels: area/macOS

#372 fix: Fixed git fatal error in Dockerfile
  .github/.container-structure-test-config.yaml
  Dockerfile
Labels: bug, area/docker

#363 feat: Allow env vars expansion in `--args` section for all hooks
  README.md
  hooks/_common.sh
  hooks/infracost_breakdown.sh
  hooks/terraform_checkov.sh
  hooks/terraform_docs.sh
  hooks/terraform_fmt.sh
  hooks/terraform_providers_lock.sh
  hooks/terraform_tflint.sh
  hooks/terraform_tfsec.sh
  hooks/terraform_validate.sh
  hooks/terragrunt_fmt.sh
  hooks/terragrunt_validate.sh
  hooks/terrascan.sh
  hooks/tfupdate.sh
Labels: feature

#374 feat: Add support for `pre-commit/pre-commit-hooks` in Docker image
  Dockerfile
Labels: feature, area/docker, estimate/1h, 3rd party

#375 fix: Fixed `tfupdate` to work in all cases, not only `pre-commit run --all`
  hooks/tfupdate.sh
Labels: bug, estimate/1h, hook/tfupdate
