Repository antonbabenko/pre-commit-terraform, pull requests merged in 2024-04, with the labels that each got.

#654 docs: Document that `__GIT_WORKING_DIR__` available for `terraform_trivy`
  README.md
Labels: documentation, estimate/1h, hook/terraform_trivy

#657 feat: Hook terraform_wrapper_module_for_each should use versions.tf from the module if it exists
  hooks/terraform_wrapper_module_for_each.sh
Labels: bug, hook/terraform_wrapper_module_for_each

#644 fix(docker): Prevent all possible "silent errors" during `docker build`
  .dockerignore
  .github/.container-structure-test-config.yaml
  .github/CONTRIBUTING.md
  .github/workflows/build-image-test.yaml
  .pre-commit-config.yaml
  Dockerfile
  hooks/infracost_breakdown.sh
  hooks/terraform_checkov.sh
  hooks/terraform_docs.sh
  hooks/terraform_fmt.sh
  hooks/terraform_providers_lock.sh
  hooks/terraform_tflint.sh
  hooks/terraform_tfsec.sh
  hooks/terraform_trivy.sh
  hooks/terraform_validate.sh
  hooks/terraform_wrapper_module_for_each.sh
  hooks/terragrunt_fmt.sh
  hooks/terragrunt_providers_lock.sh
  hooks/terragrunt_validate.sh
  hooks/terrascan.sh
  hooks/tfupdate.sh
  tools/install/_common.sh
  tools/install/checkov.sh
  tools/install/hcledit.sh
  tools/install/infracost.sh
  tools/install/pre-commit.sh
  tools/install/terraform-docs.sh
  tools/install/terraform.sh
  tools/install/terragrunt.sh
  tools/install/terrascan.sh
  tools/install/tflint.sh
  tools/install/tfsec.sh
  tools/install/tfupdate.sh
  tools/install/trivy.sh
Labels: area/docker

#656 docs: How to use pre-commit-terraform image to run pre-commit in CI
  README.md
Labels: documentation, estimate/1day
