Repository antonbabenko/pre-commit-terraform, pull requests merged in 2024-08, with the labels that each got.

#695 docs: Fix broken github actions link
  README.md
Labels: documentation

#700 fix(`terraform_docs`): Suppress redundant warnings pop-ups introduced in v1.92.2
  hooks/terraform_docs.sh
Labels: hook/terraform_docs

#704 fix(`terraform_docs`): Fix non-GNU `sed` issues, introduced in v1.93.0
  README.md
  hooks/terraform_docs.sh
Labels: bug, hook/terraform_docs

#708 fix(`terraform_docs`): Fix non-GNU sed issues, introduced in v1.93.0, as previous fix doesn't work correctly
  README.md
  hooks/terraform_docs.sh
Labels: bug, hook/terraform_docs, area/macOS
