Repository antonbabenko/pre-commit-terraform, pull requests merged in 2024-03, with the labels that each got.

#635 fix(docker): Checkov installation silently fails on `docker build` in arm64. Workaround till issue will be fixed in `checkov` itself
  .github/.container-structure-test-config.yaml
  Dockerfile
Labels: bug, area/docker, hook/terraform_checkov, area/arm64

#647 docs: Clarify deps
  README.md
Labels: documentation

#649 fix(`terraform_providers_lock`): Require `terraform init` (and `terraform_validate` hook) run when only lockfile changed
  .pre-commit-hooks.yaml
Labels: bug_with_workaround, estimate/1h, hook/terraform_validate, hook/terragrunt_providers_lock

#651 fix: Improve README and drop quotes from hook env vars
  README.md
  hooks/_common.sh
Labels: bug_with_workaround
